body, html {
    height: 100%;
    background-image: url("../images/ingredient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
}
input:focus{
    outline: none;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5995da;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}
.back-btn:hover {
    background-color: #355982;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.back-btn {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5995da;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
    text-decoration: none;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ingredient-list {
    text-align: center;
    line-height: 5rem;
    display: grid;
    grid-template-columns: 29rem 29rem 29rem;
    grid-template-rows: 5rem 5rem 5rem;
    column-gap: 10px;
    row-gap: 15px;
}

.items {
    background-color: rgba(108, 108, 108, 0.73);
    border-radius: .5rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

.items:hover {
    background-color: rgba(80, 80, 80, 0.73);
}

.ingredient-container {
    flex-direction: column;
    width: 35%;
    margin-left:auto;
    margin-right:auto;
    padding:50px;
    border-radius:5px;
    font-family: 'Libre Franklin', sans-serif;
}

.ingredient-container > div {
    float:left;
    margin-bottom:30px;
}
